immortal_flower_nodered.json
[{"id":"c958ecf1.003af","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"f61ee0a.2e6b82","type":"function","z":"c958ecf1.003af","d":true,"name":"CHECKING","func":"var x = msg.payload\nlon = (x.length)\nif (x[lon-1]=='F'){\n    var INFO = {payload:\"WARNING OFF!\"}\n    return INFO;\n}\nelse{\n    var INFO2 = {payload:\"WARNING ON\"}\n    return INFO2;\n}\n","outputs":1,"noerr":0,"x":110,"y":140,"wires":[[]]},{"id":"a4581a75.5f4128","type":"switch","z":"c958ecf1.003af","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"ON","vt":"str"},{"t":"cont","v":"OFF","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":290,"y":320,"wires":[["8c849843.129a18"],["b917b7a2.38fc08"]]},{"id":"f344afbc.6dfc6","type":"mqtt in","z":"c958ecf1.003af","name":"INPUT","topic":"immortal_flower","qos":"0","datatype":"auto","broker":"aa7d0d2a.ea4e9","x":90,"y":320,"wires":[["a4581a75.5f4128"]]},{"id":"364b162c.a1ec8a","type":"mqtt out","z":"c958ecf1.003af","name":"EXECUTABLE_MODULE","topic":"executable_module2","qos":"","retain":"","broker":"aa7d0d2a.ea4e9","x":710,"y":320,"wires":[]},{"id":"b917b7a2.38fc08","type":"change","z":"c958ecf1.003af","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"WARNING OFF","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":380,"wires":[["364b162c.a1ec8a"]]},{"id":"8c849843.129a18","type":"change","z":"c958ecf1.003af","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"WARNING ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":280,"wires":[["364b162c.a1ec8a"]]},{"id":"aa7d0d2a.ea4e9","type":"mqtt-broker","z":"","name":"","broker":"hairdresser.cloudmqtt.com","port":"16008","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"immortal_flower","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]